SECRET_KEY='some secret jgz'
DEBUG='FALSE'
ALLOWED_HOSTS='*'
ALLOWED_ORIGINS='http://localhost;'
DJANGO_LOG_PATH="/tmp/accounts.log"
DJANGO_LOG_LEVEL="info"
POSTGRES_DB='example_db'
POSTGRES_USER='db_user'
POSTGRES_PASSWORD='db_password'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
DJANGO_WSGI_MODULE='mysite.wsgi'
DJANGO_SETTINGS_MODULE='mysite.settings.dev'
DJANGO_ENV='dev'
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,blog
RECAPTCHA_PUBLIC_KEY=your_real_key
RECAPTCHA_PRIVATE_KEY=your_real_key
DEFAULT_FROM_EMAIL='your_email'