
name: Blog Ruff

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  ruff:
    name: ruff
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - working-directory: ./blog
      run: python -Im pip install --user ruff

    - name: Run Ruff for Conveyances
      working-directory: ./blog
      run: ruff check .
