{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

<div>
    <p>Want to get in touch? Fill out the form below to send me a message and
            I will get back to you as soon as possible!</p>

    <form class="contact-form" method="post" action="{% url 'contact' %}">
        <div class="form-group mb-4">
            <h2 class="form-title">Send a message</h2>
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group mb-2">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        {% endif %}
        <div class="form-group text-center ">
            <button type="submit" class="btn submit">Send message</button>
        </div>
    </form>

</div>
</div>
         
</div>

{% endblock %}
